:root { 
--gray_51:#f8f8f8; 
--light_blue_300:#52bfee; 
--deep_purple_500:#6b4fa1; 
--green_900:#035119; 
--gray_50:#fcfcfd; 
--black_900_66:#00000066; 
--black_900:#000000; 
--purple_900:#432779; 
--gray_301:#dfdfe6; 
--gray_900:#23262f; 
--bluegray_100:#d9d9d9; 
--gray_101:#f5f3f5; 
--gray_300:#dedee6; 
--blue_50:#e3f4fc; 
--gray_100:#f7f7f7; 
--bluegray_900:#1e1a3a; 
--deep_purple_50:#f0ecf9; 
--bluegray_700:#525c68; 
--bluegray_400:#87898e; 
--bluegray_300:#98a2ae; 
--deep_purple_51:#f0ebf8; 
--cyan_50:#deffff; 
--white_A701:#fcfbff; 
--white_A700:#ffffff; 
--bluegray_900_8c:#1e1a3a8c; 
}